<!-- oninput="this.value = this.value.replace(/\D/g, '').replace(/\B(?=(\d{3})+(?!\d))/g, '.')" -->
<template>
    <div class="container mb-8">
        <transition enter-active-class="animated slideInDown" leave-active-class="animated slideOutRight">
            <div v-if="showPaginate" class="card card-custom">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <mti-paginate id="myTable" ref="myTable" class="mt-sm-2"
                                classx="table table-bordered table-striped table-hover rounded" :columns="columns"
                                url="/daftar_pinjam/index" :callback="callback" :useCard="true">
                            </mti-paginate>
                        </div>
                    </div>
                </div>
            </div>
        </transition>
    </div>
</template>

<script>

    // AUTO GENERATE VUE FILE BY MCFLYON ARTISAN COMMAND

    export default {
        data() {
            return {
                showContent: false,
                showPaginate: true,
                showList: false,
                formRequest: {},
                columns: [
                    { name: 'Nama', data: 'siswa.nama' },
                    { name: 'NISN', data: 'siswa.nisn' },
                    { name: 'kode buku', data: 'buku.kode' },
                    { name: 'Aksi', data: 'action', style: 'width: 175px' }
                ],
                status: {
                    loading: false,
                    icon: 'fa fa-save'
                },
                type: 'create',
            }
        },
        methods: {
            callback() {
                // Callback Example
                var vm = this;
                $('#myTable').on('click', '.delete', function (e) {
                    var id = $(this).data('id');
                    Swal.fire({
                        title: 'Are you sure?',
                        text: "You won't be able to revert this!",
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Yes, delete it!'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            vm.delete(id)
                        }
                        else {
                            Swal.fire(
                                'Cancelled',
                                'Tidak Ada Data Yang dihapus',
                                'error')
                        }
                    })
                });
            },
            delete(uuid) {
                var vm = this;
                vm.$http({
                    url: '/daftar_pinjam/' + uuid + '/delete',
                    method: 'DELETE',
                }).then((res) => {
                    vm.$refs.myTable.reload();
                    Swal.fire(
                        'Deleted!',
                        'Your file has been deleted.',
                        'success')
                }).catch((error) => {

                });
            },
        },
        mounted() {
            this.$parent.middleware('admin');
        }
    }
</script>