<template>
     <main>


        <!-- end carolsel  -->

        <section class="container mt-10">
        <div class="card card-custom gutter-b oi" style="z-index: 1" data-margin-top="70">
            <div class="card-body row">
                 <div class="col-md-12">
                     <form class="search row">
            <div class="form-group col-md-7">
    <div class="input-group">
     <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-search"></i></span></div>
     <input type="text" class="form-control" v-model="data.search" @input.prevent="getdata()" placeholder="Cari barang ...." />
    </div>
   </div>
            <div class="form-group col-md-5">

    <select class="form-control form-control-solid" v-model="data.catalog_id">
     <option value="all">All</option>
     <option v-for="tag in tags" :value="tag.id">{{tag.nama}}</option>
    </select>
   </div>

        </form>
                 </div>
            </div>
    </div>
</section>


        <!-- produk -->

        <div class="container" style="margin-top: 35px">

          <div class="card pt-20">
            <div class="row justify-content-center">
              <div class="col-xl-7 col-lg-8 col-md-10">
            <h1 class="text-center" style="font-size: 36px;">BUKU</h1>
            <p style="color: #7f85a8;font-size: 16px;font-weight: 400;line-height: 1.6;"></p>
          </div>
            </div>


          <div class="row justify-content-center pt-20">
          

          <div class="col-lg-3 col-md-4 col-sm-6 mt-3" v-for="item in bukus">
            <div class="card" style="box-shadow: 10px 10px 22px -6px rgba(0,0,0,0.34);-webkit-box-shadow: 10px 10px 22px -6px rgba(0,0,0,0.34);-moz-box-shadow: 10px 10px 22px -6px rgba(0,0,0,0.34);">

                <div class="featured__item">
                  <div class="featured_item_pic set-bg" data-setbg="https://preview.colorlib.com/theme/ogani/img/featured/feature-2.jpg.webp" :style="'background: url('+item.foto_dir+') center center/contain no-repeat;'">
                    <ul class="featured_itempic_hover">
                      <li><router-link :to="{name: 'user.detail', params: {uuid: item.uuid}}" title="detail"><i class="fa fa-info-circle"></i></router-link></li>
                      <li><a href="javascript:void(0);" @click.prevent="pinjam(item.id)" title="Pinjam"><i class="fa fa-book"></i></a></li>
                    </ul>
                    </div>
                      <div class="featured_item_text">
                      <h6><a href="javascript:void(0);">{{item.judul_buku}}</a></h6>
                    </div>
                  </div>
              </div>
            </div>
          </div>
          </div>

      </div>
        <!-- end produk -->



    </main>
</template>

<script>

    export default {
      data() {
        return {
          bukus: [],
              tags: [],
              data: {
                catalog_id: '',
                search: '',
              }
              
            }
        },
        methods: {

            pinjam(buku_id){
                var app = this;

                app.$http({
                    url: 'user/home/pinjam',
                    method: 'POST',
                    data: {id: buku_id}
                }).then((res) => {
                    toastr.success('Sukses meminjam silahkan ambil di perpus', 'sukses');
                    app.getdata();
                }).catch((err) => {
                    toastr.error(err.response.data.pesan);
                });
            },

          getdatacatalog(){
            var app = this;

            app.$http.get('user/home/getdatacatalog').then((res)=>{
              app.tags = res.data.tags
            }).catch((err) => {

            })
          },
          getdata(){
            var app = this;
            app.$http.post('user/home/index', {tag_id: app.data.catalog_id, search: app.data.search}).then((res)=>{
              app.bukus = res.data.produks
            }).catch((err) => {

            })
          },
        },
        mounted() {
            this.$parent.middleware('user');
            this.getdatacatalog();
            this.getdata();
            // var oi = new Sticky('.oi',);
        }
    }
</script>

<style scoped>
.hm {
  background-size: contain;
}

.carousel-item{
  height: 100vh;
}

.featured {
    padding-top: 80px;
    padding-bottom: 40px;
}

.featured__controls {
    text-align: center;
    margin-bottom: 50px;
}

.featured__controls ul li {
    list-style: none;
    font-size: 18px;
    color: #1c1c1c;
    display: inline-block;
    margin-right: 25px;
    position: relative;
    cursor: pointer;
}

.featured__controls ul li.active:after {
    opacity: 1;
}

.featured__controls ul li:after {
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background: #7fad39;
    content: "";
    opacity: 0;
}

.featured__controls ul li:last-child {
    margin-right: 0;
}

.featured__item {
    margin-bottom: 50px;
}

.featured__item:hover .featured_item_pic .featured_itempic_hover {
    bottom: -10px;
}

.featured_item_pic {
    height: 270px;
    position: relative;
    overflow: hidden;
    background-position: center center;
}

.featured_itempic_hover {
    position: absolute;
    left: 0;
    bottom: -60px;
    width: 100%;
    text-align: center;
    -webkit-transition: all, 0.5s;
    -moz-transition: all, 0.5s;
    -ms-transition: all, 0.5s;
    -o-transition: all, 0.5s;
    transition: all, 0.5s;
}

.featured_itempic_hover li {
    list-style: none;
    display: inline-block;
    margin-right: 6px;
}

.featured_itempic_hover li:last-child {
    margin-right: 0;
}

.featured_itempic_hover li:hover a {
    background: #7fad39;
    border-color: #7fad39;
}

.featured_itempic_hover li:hover a i {
    color: #ffffff;
    transform: rotate(360deg);
}

.featured_itempic_hover li a {
    font-size: 16px;
    color: #1c1c1c;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #ebebeb;
    background: #ffffff;
    display: block;
    border-radius: 50%;
    -webkit-transition: all, 0.5s;
    -moz-transition: all, 0.5s;
    -ms-transition: all, 0.5s;
    -o-transition: all, 0.5s;
    transition: all, 0.5s;
}

.featured_itempic_hover li a i {
    position: relative;
    transform: rotate(0);
    -webkit-transition: all, 0.3s;
    -moz-transition: all, 0.3s;
    -ms-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    transition: all, 0.3s;
}

.featured_item_text {
    text-align: center;
    padding-top: 15px;
}

.featured_item_text h6 {
    margin-bottom: 10px;
}

.featured_item_text h6 a {
    color: #252525;
}

.featured_item_text h5 {
    color: #252525;
    font-weight: 700;
}


</style>