<template>
  <ul class="menu-nav">
    <li class="menu-item menu-item-submenu menu-item-rel menu-item-active"><a href="javascript:;" class="menu-link"><span class="menu-text font-success">{{ $parent.$parent.getHariIni() }}</span></a></li>
  </ul>
</template>

<script>
export default {
  name: "KTMenu",
  methods: {
    hasActiveChildren(match) {
      return this.$route["path"].indexOf(match) !== -1;
    }
  }
};
</script>
