<!-- oninput="this.value = this.value.replace(/\D/g, '').replace(/\B(?=(\d{3})+(?!\d))/g, '.')" -->
<template>
    <div class="container mb-8">
        <transition enter-active-class="animated slideInDown" leave-active-class="animated slideOutUp">
            <div v-if="showContent" class="card card-custom mb-4 card-create">
                <div class="card-body">
                    <form class="kt-form" id="myForm" @submit.prevent="send">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Nama tag :</label>
                                    <input type="text" class="form-control" placeholder="Nama Tag"
                                        name="nama_tags" v-model="formRequest.nama">
                                </div>
                            </div>
                        </div>
                        <div class="kt-form__actions">
                            <button type="submit" class="btn btn-success">
                                Submit
                            </button>
                            <button @click="() => {this.showContent = false;}" type="button" class="btn btn-danger">
                                Cancel
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </transition>
        <transition enter-active-class="animated slideInDown" leave-active-class="animated slideOutRight">
            <div v-if="showPaginate" class="card card-custom">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <button @click="setShowCreate" class="btn btn-sm btn-primary"><i class="fa fa-plus"></i>
                                TAMBAH</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <mti-paginate id="myTable" ref="myTable" class="mt-sm-2"
                                classx="table table-bordered table-striped table-hover rounded" :columns="columns"
                                url="/tag/index" :callback="callback" :useCard="true">
                            </mti-paginate>
                        </div>
                    </div>
                </div>
            </div>
        </transition>
    </div>
</template>

<script>

    // AUTO GENERATE VUE FILE BY MCFLYON ARTISAN COMMAND

    export default {
        data() {
            return {
                showContent: false,
                showPaginate: true,
                showList: false,
                formRequest: {},
                columns: [
                    { name: 'Nama tag', data: 'nama' },
                    { name: 'Aksi', data: 'action', style: 'width: 175px' }
                ],
                status: {
                    loading: false,
                    icon: 'fa fa-save'
                },
                type: 'create',
            }
        },
        methods: {
            callback() {
                // Callback Example
                var vm = this;
                $('#myTable').on('click', '.edit', function (e) {
                    var id = $(this).data('id');
                    vm.getEdit(id);
                })
                $('#myTable').on('click', '.delete', function (e) {
                    var id = $(this).data('id');
                    Swal.fire({
                        title: 'Are you sure?',
                        text: "You won't be able to revert this!",
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Yes, delete it!'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            vm.delete(id)
                        }
                        else {
                            Swal.fire(
                                'Cancelled',
                                'Tidak Ada Data Yang dihapus',
                                'error')
                        }
                    })
                });
            },
            getEdit(uuid) {
                var vm = this;
                vm.$http({
                    url: '/tag/' + uuid + '/edit',
                    method: 'GET',
                }).then((res) => {
                    vm.formRequest = res.data.data;
                    vm.setShowEdit();
                }).catch((error) => {
                    toastr.error('Sesuatu error terjadi.', 'Gagal!');
                    vm.$refs.myTable.reload();
                });
            },
            send() {
                var vm = this;
                var url = '/tag/create';
                if (vm.type != 'create') {
                    url = `/tag/${vm.formRequest.uuid}/update`;
                }
                KTApp.block($('.card-create'));
                vm.$http({
                    url: url,
                    method: 'POST',
                    data: vm.formRequest
                }).then((res) => {
                    KTApp.unblock($('.card-create'));
                    toastr.success(res.data.data);
                    vm.showContent = false;
                    vm.$refs.myTable.reload();
                }).catch((error) => {
                    KTApp.unblock($('.card-create'));
                    toastr.error(error.response.data.message);
                    vm.showContent = false;
                });
            },
            delete(uuid) {
                var vm = this;
                vm.$http({
                    url: '/tag/' + uuid + '/delete',
                    method: 'DELETE',
                }).then((res) => {
                    vm.$refs.myTable.reload();
                    Swal.fire(
                        'Deleted!',
                        'Your file has been deleted.',
                        'success')
                }).catch((error) => {

                });
            },
            setShowCreate() {
                this.formRequest = {};
                this.type = 'create';
                this.showContent = true;
            },
            setShowEdit() {
                this.type = 'update';
                this.showContent = true;
            },
            setShowList() {
                this.show = false;
            },
        },
        mounted() {
            this.$parent.middleware('admin');
        }
    }
</script>