<!-- oninput="this.value = this.value.replace(/\D/g, '').replace(/\B(?=(\d{3})+(?!\d))/g, '.')" -->
<template>
    <div class="container mb-8">
        <div class="modal fade" id="exampleModalNisn" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modal Title</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <i aria-hidden="true" class="ki ki-close"></i>
                            </button>
                        </div>
                        <div class="modal-body">
                            <StreamBarcodeReader
                                v-if="scanner1"
                                @decode="onDecodeNisn"
                                @loaded="onLoadedNisn"
                            ></StreamBarcodeReader>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary font-weight-bold">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
        <div class="modal fade" id="exampleModalKodeBuku" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modal Title</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <i aria-hidden="true" class="ki ki-close"></i>
                            </button>
                        </div>
                        <div class="modal-body">
                            <StreamBarcodeReader
                                v-if="scanner2"
                                @decode="onDecodeKodeBuku"
                                @loaded="onLoadedKodeBuku"
                            ></StreamBarcodeReader>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary font-weight-bold">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
        <transition enter-active-class="animated slideInDown" leave-active-class="animated slideOutUp">
            <div v-if="showPaginate" class="card card-custom mb-4 card-create">
                <div class="card-body">
                    <form class="kt-form" id="myForm" @submit.prevent="send">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>NISN</label>
                                    <div class="input-group">
                                    <input type="text" class="form-control" readonly v-if="!status.loading" v-model="formRequest.nisn" placeholder="Username" aria-describedby="basic-addon2"/>
                                    <div class="input-group-append"><button class="btn btn-primary" type="button" data-toggle="modal" @click.prevent="scanner1 = true" data-target="#exampleModalNisn">Barcode</button></div>
                                    </div>
                                    <span class="form-text text-muted" v-if="siswa != null">{{siswa}}</span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Kode Buku</label>
                                    <div class="input-group">
                                    <input type="text" class="form-control" readonly v-if="!status.loading" v-model="formRequest.kode_buku" placeholder="Username" aria-describedby="basic-addon2"/>
                                    <div class="input-group-append"><button class="btn btn-primary" type="button" data-toggle="modal" @click.prevent="scanner2 = true" data-target="#exampleModalKodeBuku">Barcode</button></div>
                                    </div>
                                    <span class="form-text text-muted" v-if="buku != null">{{buku}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="kt-form__actions">
                            <button type="submit" class="btn btn-success">
                                Submit
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </transition>
    </div>
</template>

<script>

    import { StreamBarcodeReader } from "vue-barcode-reader";

    export default {
        components:{
            StreamBarcodeReader
        },
        data() {
            return {
                scanner1: false,
                scanner2: false,
                showContent: false,
                showPaginate: true,
                buku: null,
                siswa: null,
                showList: false,
                formRequest: {},
                status: {
                    loading: false,
                    icon: 'fa fa-save'
                },
                type: 'create',
            }
        },
        methods: {
            onDecodeNisn(result){
                var app = this;
                app.getSiswa(result);
                    app.formRequest.nisn = result;
                    this.scanner1 = false;
                    $('#exampleModalNisn').modal('hide');
            },
            onLoadedNisn(result){
                console.log(result)
            },
            onDecodeKodeBuku(result){
                var app = this;
                app.status.loading = true;
                app.getBuku(result);
                    app.formRequest.kode_buku = result;
                    this.scanner2 = false;
                    app.status.loading = false;
                    $('#exampleModalKodeBuku').modal('hide');
            },
            onLoadedKodeBuku(result){
                console.log(result)
            },
            getSiswa(nisn){
                var app = this;
                app.$http.get('/pinjam/'+nisn+'/getsiswa').then((res) => {
                    app.status.loading = true;
                    app.siswa = res.data.data;
                    app.status.loading = false;
                }).catch((err) => {
                    app.status.loading = true;
                    toastr.error(err.response.data.pesan, 'error');
                    this.siswa = null
                    this.formRequest.nisn = '';
                    app.status.loading = false;
                })
            },
            getBuku(kode){
                var app = this;
                app.$http.get('/pinjam/'+kode+'/getbuku').then((res) => {
                    app.status.loading = true;
                    app.buku = res.data.data;
                    app.status.loading = false;
                }).catch((err) => {
                    toastr.error(err.response.data.pesan, 'error');
                    app.status.loading = true;
                    this.buku = null
                    this.formRequest.kode_buku = '';
                    app.status.loading = false;
                })
            },
            callback() {
                // Callback Example
                var vm = this;
                $('#myTable').on('click', '.edit', function (e) {
                    var id = $(this).data('id');
                    vm.getEdit(id);
                })
                $('#myTable').on('click', '.delete', function (e) {
                    var id = $(this).data('id');
                    Swal.fire({
                        title: 'Are you sure?',
                        text: "You won't be able to revert this!",
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Yes, delete it!'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            vm.delete(id)
                        }
                        else {
                            Swal.fire(
                                'Cancelled',
                                'Tidak Ada Data Yang dihapus',
                                'error')
                        }
                    })
                });
            },
            send() {
                var vm = this;
                var url = '/pinjam/create';
                KTApp.block($('.card-create'));
                vm.$http({
                    url: url,
                    method: 'POST',
                    data: vm.formRequest
                }).then((res) => {
                    KTApp.unblock($('.card-create'));
                    toastr.success('sukses menambah data');
                    vm.formRequest = {};
                    this.siswa = null
                    this.buku = null
                }).catch((err) => {
                    KTApp.unblock($('.card-create'));
                    toastr.error(err.response.data.message, 'error');
                    this.siswa = null
                    this.buku = null
                    vm.formRequest = {};
                });
            },
        },
        mounted() {
            this.$parent.middleware('admin');
        }
    }
</script>