<!-- oninput="this.value = this.value.replace(/\D/g, '').replace(/\B(?=(\d{3})+(?!\d))/g, '.')" -->
<template>
    <div class="container mb-8">
        <transition enter-active-class="animated slideInDown" leave-active-class="animated slideOutUp">
            <div v-if="showContent" class="card card-custom mb-4 card-create">
                <div class="card-body">
                    <form class="kt-form" id="myForm" @submit.prevent="send">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="m-auto" style="
                      box-shadow: 10px 5px 14px 2px rgba(135, 135, 135, 0.75);
                      height: 220px;
                      width: 220px;
                    "><div>


                    <div v-if="!formRequest.foto" class="text-center" style="font-weight: bold; line-height: 220px">
                      tidak ada foto
                    </div>
                    <img v-if="formRequest.foto" width="220" height="220" style="
                        display: block;
                        margin-left: auto;
                        margin-right: auto;
                      " :src="formRequest.foto" alt="" />
                  <label class="custom-file-upload"v-if="!formRequest.foto">
                    <input type="file" accept="image/jpeg, image/png" @change="onImageChange" ref="upload"
                      name="file-upload" />
                    <i class="flaticon2-pen"></i>
                  </label>
                  <label class="tutup" @click.prevent="formRequest.foto = null" v-if="formRequest.foto">
                    <i class="flaticon-circle"></i>
                  </label>
                  </div>
                    </div>

                                    <span class="form-text text-muted">Allowed file types: png, jpg, jpeg.</span>
                            </div>
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Kode Buku :</label>
                                            <input type="text" class="form-control text-center font-weight-bold font-italic" placeholder="| KODE DI BUAT OLEH SYSTEM |" readonly
                                                v-model="formRequest.kode" name="kode_buku">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                    <label>Judul Buku :</label>
                                    <input type="text" class="form-control" placeholder="Judul Buku" @input="ambilData"
                                        name="nm_jabatan" v-model="formRequest.judul_buku">
                                </div>
                                    </div>
                                    <div class="col-md-12">
                                         <div class="form-group">
                                    <label for="exampleSelect1">Tag</label>
                                    <select class="form-control" id="exampleSelect1" v-model="formRequest.tags_id">
                                        <option v-if="select.tag.length == 0" disabled>tidak ada data tag</option>
                                        <option v-if="select.tag.length != 0" v-for="item in select.tag" :value="item.id">{{item.nama}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                        <div class="form-group">
                                    <label>Pengarang :</label>
                                    <input type="text" class="form-control" placeholder="Pengarang"
                                        name="nm_jabatan" v-model="formRequest.pengarang">
                                </div>
                                    </div>
                            <div class="col-md-6">
                                        <div class="form-group">
                                    <label>Penerbit :</label>
                                    <input type="text" class="form-control" placeholder="Penerbit" 
                                        name="nm_jabatan" v-model="formRequest.penerbit">
                                </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                    <label>Tahun Terbit :</label>
                                    <input type="text" oninput="this.value = this.value.replace(/\D/g, '')" class="form-control" placeholder="Tahun terbit" 
                                        name="nm_jabatan" v-model="formRequest.thn_terbit">
                                </div>
                                    </div>
                                    </div>

                                </div>
                                
                            </div>
                        <div class="kt-form__actions">
                            <button type="submit" class="btn btn-success">
                                Submit
                            </button>
                            <button @click="() => {this.showContent = false;}" type="button" class="btn btn-danger">
                                Cancel
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </transition>
        <transition enter-active-class="animated slideInDown" leave-active-class="animated slideOutRight">
            <div v-if="showPaginate" class="card card-custom">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <button @click="setShowCreate" class="btn btn-sm btn-primary"><i class="fa fa-plus"></i>
                                TAMBAH</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <mti-paginate id="myTable" ref="myTable" class="mt-sm-2"
                                classx="table table-bordered table-striped table-hover rounded" :columns="columns"
                                url="/buku/index" :callback="callback" :useCard="true">
                            </mti-paginate>
                        </div>
                    </div>
                </div>
            </div>
        </transition>
    </div>
</template>

<script>

    // AUTO GENERATE VUE FILE BY MCFLYON ARTISAN COMMAND

    export default {
        data() {
            return {
                showContent: false,
                showPaginate: true,
                image: true,
                showList: false,
                select: {},
                formRequest: {},
                code: '',
                columns: [
                    { name: 'Kode buku', data: 'kode' },
                    { name: 'Judul buku', data: 'judul_buku' },
                    { name: 'Status', data: 'status' },
                    { name: 'Foto buku', data: 'qrcode' },
                    { name: 'Aksi', data: 'action', style: 'width: 175px' }
                ],
                status: {
                    loading: false,
                    icon: 'fa fa-save'
                },
                type: 'create',
            }
        },
        methods: {

            callback() {
                // Callback Example
                var vm = this;
                $('#myTable').on('click', '.edit', function (e) {
                    var id = $(this).data('id');
                    vm.getEdit(id);
                })
                $('#myTable').on('click', '.delete', function (e) {
                    var id = $(this).data('id');
                    Swal.fire({
                        title: 'Are you sure?',
                        text: "You won't be able to revert this!",
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Yes, delete it!'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            vm.delete(id)
                        }
                        else {
                            Swal.fire(
                                'Cancelled',
                                'Tidak Ada Data Yang dihapus',
                                'error')
                        }
                    })
                });
            },
            getEdit(uuid) {
                var vm = this;
                vm.$http({
                    url: '/buku/' + uuid + '/edit',
                    method: 'GET',
                }).then((res) => {
                    vm.formRequest = res.data.data;
                    vm.formRequest.foto = res.data.data.foto_dir;
                    vm.setShowEdit();
                }).catch((error) => {
                    toastr.error('Sesuatu error terjadi.', 'Gagal!');
                    vm.$refs.myTable.reload();
                });
            },
            send() {
                var vm = this;
                var url = '/buku/create';
                if (vm.type != 'create') {
                    url = `/buku/${vm.formRequest.uuid}/update`;
                }
                KTApp.block($('.card-create'));
                vm.$http({
                    url: url,
                    method: 'POST',
                    data: vm.formRequest
                }).then((res) => {
                    KTApp.unblock($('.card-create'));
                    toastr.success(res.data.data);
                    vm.showContent = false;
                    vm.$refs.myTable.reload();
                }).catch((error) => {
                    KTApp.unblock($('.card-create'));
                    toastr.error(error.response.data.message);
                    vm.showContent = false;
                });
            },
            delete(uuid) {
                var vm = this;
                vm.$http({
                    url: '/buku/' + uuid + '/delete',
                    method: 'DELETE',
                }).then((res) => {
                    vm.$refs.myTable.reload();
                    Swal.fire(
                        'Deleted!',
                        'Your file has been deleted.',
                        'success')
                }).catch((error) => {

                });
            },
            getselect(){
                var app = this;
                app.$http.get('/buku/getselect').then((res) => {
                    app.select.tag = res.data.tag
                }).catch((err) => {
                    toastr.error('sesuatu error terjadi', 'error')
                })
            },
            setShowCreate() {
                this.formRequest = {foto: null};
                this.type = 'create';
                this.showContent = true;
                this.getCode();
            },
            setShowEdit() {
                this.type = 'update';
                this.showContent = true;
            },
            onImageChange(e) {
              let files = e.target.files || e.dataTransfer.files;
              this.loading = true;
              if (!files.length) return;
              this.createImage(files[0]);
            },
            createImage(file) {
              let reader = new FileReader();
              let vm = this;
              reader.onload = (e) => {
                vm.formRequest.foto = e.target.result;
              };
              reader.readAsDataURL(file);
              this.loading = false;
            },

            setShowList() {
                this.show = false;
            },
            getCode() {
                var vm = this;
                let url = '/buku/code'
                vm.$http({
                    url: url,
                    method: 'GET',
                }).then((res) => {
                    vm.code = res.data;
                }).catch((error) => {
                    console.log('error')
                });
            },
            ambilData: _.debounce(function () {
                var vm = this;
                var myString = this.formRequest.judul_buku;
                var splits = myString.split(' ');
                var codes = "";
                for (var i = 0; i < splits.length; i++) {
                    if (splits[i][0]) {
                        codes = codes + splits[i][0];
                    }
                }
                if (this.type == 'create') {
                    if (codes != '') {
                        vm.kode = codes.replace(/[^A-Za-z]/g, '').toUpperCase() + '-' + vm.code;
                        vm.formRequest.kode = vm.kode;
                        $(".codes").val(vm.kode);
                    } else {
                        vm.kode = "";
                        vm.formRequest.kode = vm.kode;
                        $(".codes").val(vm.kode);
                    }
                } else {
                    if (codes != '') {
                        vm.code = vm.formRequest.id
                        vm.kode = codes.replace(/[^A-Za-z]/g, '').toUpperCase() + '-' + vm.code;
                        vm.formRequest.kode = vm.kode;
                        $(".codes").val(vm.kode);
                    }
                    else {
                        vm.kode = "";
                        vm.formRequest.kode = vm.kode;
                        $(".codes").val(vm.kode);
                    }
                }

            }, 1000),
        },
        mounted() {
            this.$parent.middleware('admin');
            this.getselect();
        }
    }
</script>

<style scoped>
.hm {
    position: absolute;
    width: 100px;
    right: 0;
    top: 0;
  }

  input[type="file"] {
    display: none;
  }

  .custom-file-upload {
    border: 1px solid #ccc;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    position: absolute;
    color: white;
    border-radius: 50%;
    background-color: black;
    top: 0;
  }

  .tutup {
    border: 1px solid #ccc;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    position: absolute;
    color: white;
    border-radius: 50%;
    background-color: black;
    top: 0;
  }
</style>
