<template>
    <div :class="{'d-flex flex-column flex-root': $auth.ready() && $auth.check() && $route.name != 'notfound'}">
        <router-view v-if="$auth.ready() && !$auth.check() || $route.name == 'notfound'"></router-view>
        <!--begin::Header Mobile-->
        <KTHeaderMobile v-if="$auth.ready() && $auth.check() && $route.name != 'notfound'"></KTHeaderMobile>
        <!-- end:: Header Mobile -->

        <Loader v-if="setting.logodarkdir" v-bind:logo="setting.logodarkdir"></Loader>

        <!-- begin::Body -->
        <div v-if="$auth.ready() && $auth.check() && $route.name != 'notfound'" class="d-flex flex-row flex-column-fluid page">
          <!-- begin:: Aside Left -->
          <KTAside></KTAside>
          <!-- end:: Aside Left -->

          <div id="kt_wrapper" class="d-flex flex-column flex-row-fluid wrapper">
            <!-- begin:: Header -->
            <KTHeader></KTHeader>
            <!-- end:: Header -->

            <!-- begin:: Content -->
            <div
              id="kt_content"
              class="content d-flex flex-column flex-column-fluid"
            >
              <!-- begin:: Content Head -->

              <!-- begin:: Content Head -->
              <KTSubheader
                v-bind:breadcrumbs="$route.meta.breadcrumb"
                v-bind:title="$route.meta.title"
              />
              <!-- end:: Content Head -->

              <!-- begin:: Content Body -->
              <div class="d-flex flex-column-fluid">
                <div
                  :class="{
                    'container-fluid': true,
                    'container': false
                  }"
                >
                  <transition name="fade-in-up">
                    <router-view />
                  </transition>
                </div>
              </div>
            </div>
            <KTFooter></KTFooter>
          </div>
        </div>
        <!-- <KTStickyToolbar v-if="$auth.ready() && $auth.check() && $route.name != 'notfound'"></KTStickyToolbar> -->
        <KTScrollTop v-if="$auth.ready() && $auth.check() && $route.name != 'notfound'"></KTScrollTop>
        <!-- end::User Panel-->
    </div>
</template>

<style lang="scss">
// 3rd party plugins css
@import "~bootstrap-vue/dist/bootstrap-vue.css";
@import "~perfect-scrollbar/css/perfect-scrollbar.css";
@import "~socicon/css/socicon.css";
@import "~animate.css";
@import "~@fortawesome/fontawesome-free/css/all.css";
@import "~line-awesome/dist/line-awesome/css/line-awesome.css";
@import "../plugins/flaticon/flaticon.css";
@import "../plugins/flaticon2/flaticon.css";
@import "../plugins/keenthemes-icons/font/ki.css";

// Main demo style scss
@import "../src/sass/style.vue";

// Check documentation for RTL css
// Update HTML with RTL attribute at public/index.html
/*@import "assets/css/style.vue.rtl";*/
</style>

<script>
    import postscribe from 'postscribe';
    import objectPath from "object-path";

    import HtmlClass from "../helpers/HtmlClass";
    import KTAside from "../view/layout/aside/Aside.vue";
    import KTHeader from "../view/layout/header/Header.vue";
    import KTHeaderMobile from "../view/layout/header/HeaderMobile.vue";
    import KTFooter from "../view/layout/footer/Footer.vue";
    import KTSubheader from "../view/layout/subheader/Subheader.vue";
    // import KTStickyToolbar from "../view/layout/extras/StickyToolbar.vue";
    import KTScrollTop from "../view/layout/extras/ScrollTop";
    import Loader from "../view/content/Loader.vue";
    import Swal from "sweetalert2";

    export default {
        components: {
            KTAside,
            KTHeader,
            KTHeaderMobile,
            KTFooter,
            KTSubheader,
            // KTStickyToolbar,
            KTScrollTop,
            Loader
        },
        data() {
            return {
                getColorName: 'default',
                setting: {backgrounddir: null, logodarkdir: null, logowhitedir: null},
                routes: {
                    admin: [
                        {name: 'Home', path: 'home', icon: 'fa fa-home'},
                        {name: 'Master', icon: 'flaticon2-analytics', 
                            child: [
                                {name: 'Tag', path: 'admin.tag', icon: 'fa fa-tag'},
                                {name: 'Buku', path: 'admin.buku', icon: 'fa fa-book'},
                            ]
                        },
                        {name: 'Aktfitas', path: 'admin.aktivitas', icon: 'fa fa-book'},
                        {name: 'Setting', path: 'admin.setting', icon: 'fa fa-tools'},
                    ],
                    user: [
                        {name: 'Home', path: 'user', icon: 'fa fa-home'},
                        {name: 'Aktfitas', path: 'user.aktivitas', icon: 'fa fa-book'},
                    ]
                }
            }
        },
        methods: {
            logout() {
                var vm = this;
                Swal.fire({
                    title:"Apakah anda yakin?",
                    text:"Akan keluar dari akun.",
                    icon:"warning",
                    showCancelButton: true,
                    confirmButtonText:"Ya",
                    cancelButtonText:"Tidak",
                    reverseButtons: true
                }).then(function(e) {
                    if(e.value){
                        vm.$router.push({name: 'logout'})
                        Swal.fire(
                            "Berhasil!",
                            "keluar dari akun.",
                            "success"
                        ).then(function() {
                            // document.location.reload();
                        })
                    }
                }).catch(Swal.noop);
            },
            randomColorName() {
                var app = this;
                var items = ['info', 'success', 'warning', 'danger', 'default'];
                // setInterval(function() {
                app.getColorName = items[Math.floor(Math.random()*items.length)];
                // }, 200)
            },
            middleware(level, levels=[]) {
                var app = this;
                if(levels.length != 0){
                    if(levels.includes(app.$auth.user().level)){
                        return
                    }else{
                        app.$router.push({name: 'notfound'});
                    }
                }else{
                    if(app.$auth.user().level == level || level == 'all') {
                        return;
                    }else{
                        app.$router.push({name: 'notfound'});
                    }
                }
            },
            getConfig() {
                var vm = this;
                vm.$http({
                    url: '/setting',
                    method: 'GET',
                }).then((res) => {
                    vm.setting = res.data.data;
                    document.querySelector("meta[name='title']").setAttribute("content", vm.setting.name);
                }).catch((error) => {
                    
                });
            },
            getHariIni() {
               var months = ['Januari', 'Februari', 'Maret', 'April', 'Mei', 'Juni', 'Juli', 'Agustus', 'September', 'Oktober', 'November', 'Desember'];
               var myDays = ['Minggu', 'Senin', 'Selasa', 'Rabu', 'Kamis', 'Jumat', 'Sabtu'];
               var date = new Date();
               var day = date.getDate();
               var month = date.getMonth();
               var thisDay = date.getDay(),
                   thisDay = myDays[thisDay];
               var year = date.getFullYear();
               return thisDay + ', ' + day + ' ' + months[month] + ' ' + year;
            },


            // active class
            isActive(menuItem) {
                var vm = this;
                return this.$route.name === menuItem;
            },
            setActive: function (menuItem) {
              this.activeItem = menuItem
            },
        },
        beforeMount() {
          },
        mounted() {
            this.getConfig();
            HtmlClass.addBodyClass("page-loading");
            HtmlClass.init();
            this.randomColorName();
            // HtmlClass.initThemes();
            setTimeout(() => {
                HtmlClass.removeBodyClass("page-loading");
            }, 10000);
            // setTimeout(function() {
            //     postscribe('#core', `<script src="${process.env.MIX_APP_URL}/assets/js/scripts.bundle.js"><\/script>`);
            // }, 1000);
        }
    }
</script>