<template>
  <div class="container mt-30">
    <transition>
      <div class="card card-custom" v-if="!showce">
        <div class="card-header">
          <div class="card-title">
            <span class="card-icon">
              <i class="bx bx-money-withdraw"></i>
            </span>
            <h3 class="card-label">Transaksi</h3>
          </div>
        </div>
        <div class="card-body">
          <h3 class="text-center">Belum Diambil</h3>
          <mti-paginate
            id="myTable0"
            ref="myTable0"
            classx="table table-bordered table-striped table-hover rounded"
            :columns="columns0"
            url="user/aktivitas/index/0"
            :callback="callback0"
            :useCard="true"
          ></mti-paginate>
          <h3 class="text-center">Sedang Di Pinjam</h3>
          <mti-paginate
            id="myTable1"
            ref="myTable1"
            classx="table table-bordered table-striped table-hover rounded"
            :columns="columns1"
            url="user/aktivitas/index/1"
            :callback="callback1"
            :useCard="true"
          ></mti-paginate>
          <h3 class="text-center">Selesai</h3>
          <mti-paginate
            id="myTable2"
            ref="myTable2"
            classx="table table-bordered table-striped table-hover rounded"
            :columns="columns2"
            url="user/aktivitas/index/2"
            :callback="callback2"
            :useCard="true"
          ></mti-paginate>
          <h3 class="text-center">Dibatalkan</h3>
          <mti-paginate
            id="myTable3"
            ref="myTable3"
            classx="table table-bordered table-striped table-hover rounded"
            :columns="columns3"
            url="user/aktivitas/index/3"
            :callback="callback3"
            :useCard="true"
          ></mti-paginate>
        </div>
      </div>
    </transition>
    <transition>
      <div class="card card-custom overflow-hidden" v-if="showce">
        <div class="card-body p-0">
          <!-- begin: Invoice-->
          <!-- begin: Invoice header-->
          <div class="row justify-content-center py-8 px-8 py-md-27 px-md-0">
            <div class="col-md-9">
              <div
                class="
                  d-flex
                  justify-content-between
                  pb-10 pb-md-20
                  flex-column flex-md-row
                "
              >
                <h1 class="display-4 font-weight-boldest mb-10">INVOICE</h1>
                <div class="d-flex flex-column align-items-md-end px-0">
                  <!--begin::Logo-->
                  <a href="#" class="mb-5">
                    <img
                      src="/metronic/theme/html/demo1/dist/assets/media/logos/logo-dark.png"
                      alt=""
                    />
                  </a>
                  <!--end::Logo-->
                  <span
                    class="d-flex flex-column align-items-md-end opacity-70"
                  >
                    <span>{{data.user.name}}, {{data.user.email}}</span>
                    <!-- <span>{{data.alamat}}</span> -->
                  </span>
                </div>
              </div>
              <div class="border-bottom w-100"></div>
              <div class="d-flex justify-content-between pt-6">
                <div class="d-flex flex-column flex-root">
                  <span class="font-weight-bolder mb-2">Tanggal Pesan</span>
                  <span class="opacity-70">{{data.tgl_pinjam}}</span>
                </div>
                <div class="d-flex flex-column flex-root">
                  <span class="font-weight-bolder mb-2">Tanggal Pengembalian</span>
                  <span class="opacity-70">{{data.tgl_pengembalian}}</span>
                </div>
                <div class="d-flex flex-column flex-root">
                  <span class="font-weight-bolder mb-2">Status peminjaman</span>
                  <span class="opacity-70" v-html="data.status"
                    ></span
                  >
                </div>
              </div>
            </div>
          </div>
          <!-- end: Invoice header-->
          <!-- begin: Invoice body-->
          <div class="row justify-content-center py-8 px-8 py-md-10 px-md-0">
            <div class="col-md-9">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th
                        class="pl-0 font-weight-bold text-muted text-uppercase"
                      >
                        Nama Buku
                      </th>
                      <th
                        class="
                          text-right
                          font-weight-bold
                          text-muted text-uppercase
                        "
                      >
                        Kode buku
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="font-weight-boldest">
                      <td class="pl-0 pt-7">{{data.buku.judul_buku}}</td>
                      <td class="text-right pt-7">{{data.buku.kode}}</td>
                    </tr>
                   </tbody>
                </table>
              </div>
            </div>
          </div>
          <!-- end: Invoice body-->
          <!-- begin: Invoice footer-->
          <!-- end: Invoice footer-->
          <!-- begin: Invoice action-->
          <div class="row justify-content-center py-8 px-8 py-md-10 px-md-0">
            <div class="col-md-9">
              <div class="d-flex justify-content-between">
                <button
                  type="button"
                  class="btn btn-light-danger font-weight-bold"
                  @click.prevent="showce = false; data = {}"
                >
                  Kembali
                </button>
                <button
                  type="button"
                  class="btn btn-primary font-weight-bold"
                  onclick="window.print();"
                >
                  Print Invoice
                </button>
              </div>
            </div>
          </div>
          <!-- end: Invoice action-->
          <!-- end: Invoice-->
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
export default {
  data() {
    return {
      showce: false,
      data: {},
      columns0: [
        { name: "Judul Buku", data: "buku.judul_buku" },
        { name: "Tanggal Pinjam", data: "tgl_pinjam" },
        { name: "Tanggal Kembali", data: "tgl_pengembalian" },
        { name: "Aksi", data: "action", style: "width: 175px" },
      ],
      columns1: [
        { name: "Judul Buku", data: "buku.judul_buku" },
        { name: "Tanggal Pinjam", data: "tgl_pinjam" },
        { name: "Tanggal Kembali", data: "tgl_pengembalian" },
        { name: "Aksi", data: "action", style: "width: 175px" },
      ],
      columns2: [
        { name: "Judul Buku", data: "buku.judul_buku" },
        { name: "Tanggal Pinjam", data: "tgl_pinjam" },
        { name: "Tanggal Kembali", data: "tgl_pengembalian" },
        { name: "Aksi", data: "action", style: "width: 175px" },
      ],
      columns3: [
        { name: "Judul Buku", data: "buku.judul_buku" },
        { name: "Tanggal Pinjam", data: "tgl_pinjam" },
        { name: "Tanggal Kembali", data: "tgl_pengembalian" },
        { name: "Aksi", data: "action", style: "width: 175px" },
      ],
    };
  },
  methods: {
    callback0() {
      // Callback Example
      var vm = this;
      $("#myTable0").on("click", ".batal", function (e) {
        var id = $(this).data("id");
        vm.batal(id);
      });
      $("#myTable0").on("click", ".detail", function (e) {
        var id = $(this).data("id");
        vm.getDetail(id);
      });
    },
    callback1() {
      // Callback Example
      var vm = this;
      $("#myTable1").on("click", ".detail", function (e) {
        var id = $(this).data("id");
        vm.getDetail(id);
      });
      $("#myTable1").on("click", ".selesai", function (e) {
        var id = $(this).data("id");
        vm.selesai(id);
      });
    },
    callback2() {
      // Callback Example
      var vm = this;
      $("#myTable2").on("click", ".detail", function (e) {
        var id = $(this).data("id");
        vm.getDetail(id);
      });
    },
    callback3() {
      // Callback Example
      var vm = this;
      $("#myTable3").on("click", ".detail", function (e) {
        var id = $(this).data("id");
        vm.getDetail(id);
      });
    },
        reload(){
        var app = this;
        app.$refs.myTable0.reload();
        app.$refs.myTable1.reload();
        app.$refs.myTable2.reload();
        app.$refs.myTable3.reload();
    },
        selesai(id){
        var app = this;
        app.$http.get('user/aktivitas/'+id+'/selesai').then((res) => {
             Swal.fire("Terupdate!", "Transaksi ini telah berganti status.", "success");
             app.reload()
        }).catch((err) => {
            toastr.error(err, 'error')
        })
    },
    batal(id){
        var app = this;
          Swal.fire({
        title: "Apakah Kamu Yakin?",
        text: "Kamu tidak Bisa mengembalikannya lagi!",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Iya Hapus ini!",
      }).then((result) => {
        if (result.isConfirmed) {
            
        app.$http.get("user/aktivitas/" + id + "/batal")
            .then((res) => {
              Swal.fire("Dibatalkan!", "Produk ini telah dibatalkan.", "success");
            })
            .catch((err) => {
                Swal.fire("Gagal!", "Produk ini gagal dibatalkan.", "error");
            });
        app.reload();
        }
      });
    },
    getDetail(id) {
      var app = this;
      app.$http
        .get("user/aktivitas/" + id + "/getdetail")
        .then((res) => {
          app.data = res.data.data;
          app.showce = true;
          console.log(app.data) 
        })
        .catch((err) => {
          toastr.error(err.response.data.pesan, "error");
        });
    },
  },
  mounted() {
    
  },
};
</script>