<template>
	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<mti-paginate id="myTable" ref="myTable" classx="table table-bordered table-striped table-hover rounded" :columns="columns" url="/test" :post="postData" :callback="callback" :useCard="true"></mti-paginate>

				<!-- 
				ADD classx attributes when give Custom Class
				ADD callback attributes when give Custom Callback (Remove When Not Use)
				ADD post attributes when give Custom Post Field (Remove When Not Use)
				-->
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		data() {
			return {
				columns: [
					{name: 'Name', data: 'name'},
					{name: 'Email', data: 'email'},
					{name: 'Aksi', data: 'action'}
				],
				// Post Example
				postData: {tahun: 2020}
			}
		},
		methods: {
			loadJs(){
			},
            callback(){
            	// Callback Example
            	var vm = this;
            	$('#myTable').on('click', '.btn-detail', function(e){
            		var id = $(this).data('id');
            		vm.$refs.myTable.reload();
            	});
            }
		},
		mounted() {
			this.loadJs()
			this.$parent.middleware('admin');
		}
	}
</script>