<template>
  <div class="container">
    <div class="card card-custom gutter-b">
      <div class="card-body">
        <div class="container-fliud">
          <div class="wrapperr row">
            <div class="preview col-md-4">
              <div class="preview-pic tab-content">
                <div class="tab-pane active" id="pic-1">
                  <img :src="data.foto_dir"/>
                </div>
              </div>
            </div>
            <div class="details col-md-8">
              <h3 class="product-title">
                {{ data.judul_buku }}
                <small style="text-muted">({{ data.kode }})</small>
              </h3>
              <p class="vote">
                Tag buku <strong>{{ data.tag.nama }}</strong>
              </p>
              <p class="vote">
                Pengarang <strong>{{ data.detail_buku.pengarang }}</strong>
              </p>
              <p class="vote">
                Penerbit <strong>{{ data.detail_buku.penerbit }}</strong>
              </p>
              <p class="vote">
                Tahun terbit <strong>{{ data.detail_buku.thn_pengarang }}</strong>
              </p>
              <p class="product-description">{{ data.deskripsi }}</p>
              <div class="action">
                <button class="btn btn-light-primary" @click.prevent="$router.push({name: 'login'})">
                  Pinjam
                </button>
                <button class="btn btn-light-danger" @click.prevent="$router.push({name: 'homenoauth'})">
                  Kembali
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      data: {},
    };
  },
  methods: {
    getdata() {
      var app = this;
      var uuid = app.$route.params.uuid;

      app.$http
        .get("homenoauth/" + uuid + "/getproduk")
        .then((res) => {
          app.data = res.data.data;
        })
        .catch((err) => {
          toastr.error(err, "error");
        });
    },
               pinjam(buku_id){
                var app = this;

                app.$http({
                    url: 'user/home/pinjam',
                    method: 'POST',
                    data: {id: buku_id}
                }).then((res) => {
                    toastr.success('Sukses meminjam silahkan ambil di perpus', 'sukses');
                    app.getdata();
                }).catch((err) => {
                    toastr.error('gagal meminjam buku karena sudah dipinjam');
                });
            },
  },
  mounted() {
    this.getdata();
  },
};
</script>
<style scoped>
img {
  max-width: 300px;
}

.preview {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
@media screen and (max-width: 996px) {
  .preview {
    margin-bottom: 20px;
  }
}

.preview-pic {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.preview-thumbnail.nav-tabs {
  border: none;
  margin-top: 15px;
}
.preview-thumbnail.nav-tabs li {
  width: 18%;
  margin-right: 2.5%;
}
.preview-thumbnail.nav-tabs li img {
  max-width: 100%;
  display: block;
}
.preview-thumbnail.nav-tabs li a {
  padding: 0;
  margin: 0;
}
.preview-thumbnail.nav-tabs li:last-of-type {
  margin-right: 0;
}

.tab-content {
  overflow: hidden;
}
.tab-content img {
  width: 100%;
  -webkit-animation-name: opacity;
  animation-name: opacity;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
}

.card {
  margin-top: 50px;
  padding: 3em;
  line-height: 1.5em;
}

@media screen and (min-width: 997px) {
  .wrapperr {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

.details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.colors {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.product-title,
.price,
.sizes,
.colors {
  text-transform: UPPERCASE;
  font-weight: bold;
}

.checked,
.price span {
  color: #1d4f9b;
}

.product-title,
.rating,
.product-description,
.price,
.vote,
.sizes {
  margin-bottom: 15px;
}

.product-title {
  margin-top: 0;
}

.size {
  margin-right: 10px;
}
.size:first-of-type {
  margin-left: 40px;
}

.color {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  height: 2em;
  width: 2em;
  border-radius: 2px;
}
.color:first-of-type {
  margin-left: 20px;
}

.add-to-cart,
.like {
  background: #ff9f1a;
  padding: 1.2em 1.5em;
  border: none;
  text-transform: UPPERCASE;
  font-weight: bold;
  color: #fff;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
}
.add-to-cart:hover,
.like:hover {
  background: #b36800;
  color: #fff;
}

.not-available {
  text-align: center;
  line-height: 2em;
}
.not-available:before {
  font-family: fontawesome;
  content: "\f00d";
  color: #fff;
}

.orange {
  background: #ff9f1a;
}

.green {
  background: #85ad00;
}

.blue {
  background: #0076ad;
}

.tooltip-inner {
  padding: 1.3em;
}

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
    transform: scale(3);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
    transform: scale(3);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/*# sourceMappingURL=style.css.map */
</style>