<template>
</template>

<script>
	export default {
		data() {
			return {
				
			}
		},
		methods: {
            check() {

            }
		},
		mounted() {
			if(this.$auth.check()){
			this.$router.push({name: this.$auth.user().level});
			} else {
			this.$router.push({name: 'homenoauth'});
			}
		}
	}
</script>