<template>
</template>
<script>

    // AUTO GENERATE VUE FILE BY MCFLYON ARTISAN COMMAND

    export default {
        data() {
            return {
                
            }
        },
        methods: {

        },
        mounted() {
            var app = this;

            app.$router.push({name: 'homenoauth'});
        }
    }
</script>